.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.audio-player {
    margin-top: 20px;
    width: 500 px; /* Ширина проигрывателя */
}
